---
layout: default
header_image: "/assets/images/bg/IMG-20230830-WA0072.jpg"
title: "About Us"
description: ""
---

{% include page_header.html %}
<!-- About Start -->
<section class="section about overflow-hidden">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="about-img">
					<img src="{{'/assets/images/about/IMG-20230830-WA0073.jpg' | relative_url}}" alt="" class="img-fluid w-100"/>
					<!-- <div class="video-play">
						<div class="play-bg">
							<a class="popup-youtube" href="https://www.youtube.com/watch?v=jrkvirglgaQ"><i class="fa fa-play"></i></a>
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-lg-6 col-md-7 offset-lg-1 mt-5 mt-md-0">
				<span class="text-color h5 text-uppercase">Overview</span>
				<h3 class="mb-4 mt-3 primary-color">About Kitron Green Initiatives</h3>
				<h4 class="mb-4 mt-3 primary-color">Our Journey Towards Sustainability</h4>
				<p class="primary-color">Kitron Green Initiatives is a dynamic nonprofit organization committed to addressing the most critical
					 environmental and sustainability challenges of our time. Established in 2023, our journey has been
					  one of dedication, innovation, and collaboration. </p>
				<p class="mb-5 primary-color">Our organization was born out of the recognition that the health of our planet and
					 the well-being of future generations depend on sustainable practicesand renewable energy solutions.</p>

				<!-- <a href="#" class="btn btn-primary">Purchase now</a> -->
			</div>
		</div>
	</div>
</section>
<!-- About End -->

<!-- Service Start -->
<!-- <section class="section service bg-secondary position-relative">
	<img src="{{'/assets/images/bg/feature-bg.png' | relative_url}}" alt="" class="overlay-shape">
	<div class="container">
		<div class="row">
			<div class="col-lg-7">
				<span class="h5 text-color text-uppercase">
					services
				</span>
				<h3 class="mb-5 mt-2 text-white">We Create Products that Make
					People Happy.</h3>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<i class="ti-ruler-pencil text-color"></i>
					<h4 class="my-4 text-white">Brand Design</h4>
					<p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<i class="ti-announcement text-color"></i>
					<h4 class="my-4 text-white">Seo & Marketing</h4>
					<p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="service-item mb-4 mb-lg-0 p-0">
					<i class="ti-palette text-color"></i>
					<h4 class="my-4 text-white">Creative Design</h4>
					<p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore et dolore magna.</p>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- Service End -->

<!-- Team Start -->
<section class="section team-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<h3 class="mb-5 mt-2 text-color">Meet Our Team</h3>
				
			</div>
		</div>

		<!-- Testimonial Start -->
<section class="section testimonial position-relative bg-2 overflow-hidden">
	<div class="container">
		<div class="row">
			
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/kitgak.jpg' | relative_url}}" alt="" class="img-fluid team-member">
						<i class="fa fa-quote-right"></i>
					</div>
					<p class="author-bio primary-color"><b>Engr. Kitgak Simon</b> is a dedicated advocate for sustainable development,
						 climate action, and migrant rights. He combines technical expertise as a graduate of Electrical Power 
						 Engineering in Nigeria studying Computer Science in the USA. He's actively engaged in UN initiatives
						  working with various organizations. His passion for renewable energy, digital technology and
						   sustainability drives him to make a positive impact. </p>
					<h5 class="mb-0 mt-2 primary-color">Kitgak Simon</h5>
					<span class="text-color">Founder, Executive Director</span>
					<hr>
					<div class="social-connect">
						<h5>Social links</h5>
						<a style="color: black;" href="https://www.linkedin.com/in/kitgak-simon-mnse-mieee-641768143?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-linkedin-in"></i></a>
						<a style="color: black;" href="mailto:kitgakbala@gmail.com" target="_blank" rel="noopener noreferrer"><i class=" icons-social fas fa-at"></i></a>
						<a style="color: black;" href="https://x.com/SimonKitgak" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-twitter"></i></a>	
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/felix.jpg' | relative_url}}" alt="" class="img-fluid team-member">
						<i class="fa fa-quote-right"></i>
					</div>
					<p class="author-bio primary-color"> <b>Mr Felix</b> is a dynamic lawyer with years of practice across environmental law, technology law, data protection and privacy, and dispute resolution. 
						He has a deep love for our planet and spends time and resources motivating and working with people across all demographies on greening back our planet.
					</p>
					<h5 class="mb-0 mt-2 primary-color">Felix Emmanuel</h5>
					<span class="text-color">Co-Founder, Legal Adviser</span>
						<hr>
					<div class="social-connect">
						<h5>Social links</h5>
						<a style="color: black;" href="" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-linkedin-in"></i></a>
						<a style="color: black;" href="" target="_blank" rel="noopener noreferrer"><i class=" icons-social fas fa-at"></i></a>
						<a style="color: black;" href="" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-twitter"></i></a>	
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/ebere.jpeg' | relative_url}}" alt="" class="img-fluid team-member">
						<i class="fa fa-quote-right"></i>
					</div>
					<p class="author-bio primary-color"><b>Miss Ebere Mercy Olugbue</b> is a Chartered Accountant passionate
						 about climate and the environment. She is advocating for a sustainable planet especially
						  for indigenous communities mostly affected by climate issues using her climate finance
						   and data analysis skills </p>
					<h5 class="mb-0 mt-2 primary-color">Ebere Mercy Olugbue</h5>
					<span class="text-color">Financial Manager</span>
					<hr>
					<div class="social-connect">
						<h5>Social links</h5>
						<a style="color: black;" href="https://www.linkedin.com/in/ebere-olugbue" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-linkedin-in"></i></a>
						<a style="color: black;" href="mailto:eolugbue@gmail.com" target="_blank" rel="noopener noreferrer"><i class=" icons-social fas fa-at"></i></a>
						<a style="color: black;" href="https://x.com/EbereOlugbue?t=AVbH2T4HdsgzL8FxKJcYCg&s=09" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-twitter"></i></a>	
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/Mercy.jpeg' | relative_url}}" alt="" class="img-fluid team-member">
						<i class="fa fa-quote-right"></i>
					</div>
					<p class="author-bio primary-color"><b>Miss Mercy Ayinpo</b> is the Community Manager for KGI.
						 She holds BSc in Zoology and brings her passion for biodiversity conservation and environmental 
						 sustainability to the role, leading community engagement efforts and promoting sustainable 
						 practices through education and grassroots initiatives. She is committed to fostering positive 
						 environmental impact through KGI's mission. </p>
					<h5 class="mb-0 mt-2 primary-color">Mercy Ayinpo</h5>
					<span class="text-color">Community Manager</span>
					<hr>
					<div class="social-connect">
						<h5>Social links</h5>
						<a style="color: black;" href="https://www.linkedin.com/in/kiyani-ayinpo" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-linkedin-in"></i></a>
						<a style="color: black;" href="mailto:kiyaniayinpomercy@gmail.com" target="_blank" rel="noopener noreferrer"><i class=" icons-social fas fa-at"></i></a>
						<a style="color: black;" href="https://x.com/KiyaniAyinpo?s=09" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-twitter"></i></a>	
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/elisha.jpg' | relative_url}}" alt="" class="img-fluid team-member">
						<i class="fa fa-quote-right"></i>
					</div>
					<p class="author-bio primary-color"><b>Engr. Elisha</b>, is a dedicated admin and web developer, adeptly oversees our website's functionality
						 and aesthetics. My role entails meticulous content management, adept problem-solving, and continuous performance 
						 enhancement. With a commitment to user-friendly design, I ensure our website excels in both form and function. </p>
					<h5 class="mb-0 mt-2 primary-color">Adamu Elisha Inuwa</h5>
					<span class="text-color">Admin, Website Developer</span>
					<hr>
					<div class="social-connect">
						<h5>Social links</h5>
						<a style="color: black;" href="https://www.linkedin.com/in/elisha-adamu-505552134/" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-linkedin-in"></i></a>
						<a style="color: black;" href="mailto:elishadamu97@gmail.com" target="_blank" rel="noopener noreferrer"><i class=" icons-social fas fa-at"></i></a>
						<a style="color: black;" href="https://x.com/elisha_inuwa" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-twitter"></i></a>	
					</div>
				</div>
			</div>
			
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/cyril.jpeg' | relative_url}}" alt="" class="img-fluid team-member">
						<i class="fa fa-quote-right"></i>
					</div>
					<p class="author-bio primary-color"><b>Mr Ariel Cyril</b> is a visionary leader and social innovator
						focused on sustainability and leadership development. A Zoology graduate from the University
						 of Jos, Nigeria. He also manages programs at Impact Training Room and founded Clarity Hub 
						 Africa. Ariel is an advocate for SDGs 4 and 13, recognized as a 2023 Top 100 ChangeMaker.</p>
					<h5 class="mb-0 mt-2 primary-color">Ariel Cyril</h5>
					<span class="text-color">Programs/Operations Manager</span>
					<hr>
					<div class="social-connect">
						<h5>Social links</h5>
						<a style="color: black;" href="https://www.linkedin.com/in/ariel-cyril-5775b2220" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-linkedin-in"></i></a>
						<a style="color: black;" href="mailto:cyrilariel101@gmail.com" target="_blank" rel="noopener noreferrer"><i class=" icons-social fas fa-at"></i></a>
						<a style="color: black;" href="https://x.com/CyrilAriel?t=-YtPFcIPgm1F8Ss-Julwig&s=09" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-twitter"></i></a>	
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/Matgak.jpeg' | relative_url}}" alt="" class="img-fluid team-member">
						<i class="fa fa-quote-right"></i>
					</div>
					<p class="author-bio primary-color"><b>Mr Matgak Gotau Koplekkah</b> is a visionary and ambitious individual with a passion
						 for learning and growth. As a dedicated student leader, Matgak excels in fostering community engagement, 
						 promoting social change, and empowering others. With a curious mind and compassionate heart. </p>
					<h5 class="mb-0 mt-2 primary-color">Matgak Gotau Koplekkah</h5>
					<span class="text-color">Content Creator</span>
					<hr>
					<div class="social-connect">
						<h5>Social links</h5>
						<a style="color: black;" href="https://www.linkedin.com/in/ebere-olugbue" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-linkedin-in"></i></a>
						<a style="color: black;" href="mailto:eolugbue@gmail.com" target="_blank" rel="noopener noreferrer"><i class=" icons-social fas fa-at"></i></a>
						<a style="color: black;" href="https://x.com/EbereOlugbue?t=AVbH2T4HdsgzL8FxKJcYCg&s=09" target="_blank" rel="noopener noreferrer"><i class=" icons-social fab fa-twitter"></i></a>	
					</div>
				</div>
			</div>
			
			<!-- <div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/test-1.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/test-2.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/test-3.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/test-1.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/test-2.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card text-center rounded-0 shadow mb-4 pattern-bg">
					<div class="img-block position-relative mb-4">
						<img src="{{'/assets/images/team/test-3.jpg' | relative_url}}" alt="" class="img-fluid">
						<i class="fa fa-quote-right"></i>
					</div>
					<p>Lorem ipsum dolor amet constur adipisicing elit sed eiusmtempor incid dolore magna aliqu. enim minim
						veniam.</p>
					<h5 class="mb-0 mt-2">Liam Hughes</h5>
					<span class="text-color">Manager</span>
				</div>
			</div> -->
		</div>
	</div>
</section>
<!-- Testimonial End -->
		</div>
	</div>
</section>
<!-- Team End -->
<style>
	.image-partners-1{
		width: 200px;
		height: auto;
		
	}
	.image-partners-2{
		width: 200px;
		height: auto;
		
	}
	.image-partners-3{
		width: 200px;
		height: auto;
	}
	.image-partners-4{
		width: 120px;
		height: auto;
		margin-top: -14px;
	}
	.image-partners-5{
		width: 200px;
		height: auto;
		margin-left: -58px;
		margin-top: -10px;
	}
	.image-partners-6{
		width: 200px;
		height: auto;
		margin-left: -58px;
		margin-top: 0px;
	}
	.image-partners-7{
		width: 200px;
		height: auto;
		margin-left: -97px;
		margin-top: -41px;
	}
	.image-partners-8{
		width: 150px;
		height: auto;
		margin-left: -97px;
		margin-top: -41px;
	}
	.image-partners-9{
		width: 200px;
		height: auto;
		margin-left: -97px;
		margin-top: -41px;
	}
	.w-100{
		width: 90% !important;
	}
</style>
<!-- Clients Start -->

<section class="section-sm bg-secondary">
	<div class="col-lg-12 text-center">
		<span class="h2 text-color text-uppercase">
			Our Partners
		</span>
		<br>
		<br>
	</div>
	<div class="container">
		<div class="row clients-wrap">
			
			<div>
				<img class="image-partners-1" src="{{'/assets/images/clients/UPG.jpg' | relative_url}}" alt="UPG" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-2" src="{{'/assets/images/clients/sdsn-youths.png' | relative_url}}" alt="sdsn-youths" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-3" src="{{'/assets/images/clients/UNSDSN_logo-640w.png' | relative_url}}" alt="UNSDSN_logo" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-4" src="{{'/assets/images/clients/WhatsApp_Image_2023-09-22_at_04.37.52-removebg-preview.png' | relative_url}}" alt="un-environment-programme" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-5" src="{{'/assets/images/clients/WhatsApp_Image_2023-09-22_at_04.43.52-removebg-preview.png' | relative_url}}" alt="global-youth-biodiversity-network" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-6" src="{{'/assets/images/clients/UNHCR_logo-removebg-preview.png' | relative_url}}" alt="UNHCR_logo" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-7" src="{{'/assets/images/clients/26-removebg-preview.png' | relative_url}}" alt="plateau-sdgs-alliance" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-8" src="{{'/assets/images/clients/earth-guardians.png' | relative_url}}" alt="earth-guardians" class="img-fluid mx-auto">
			</div>
			<div>
				<img class="image-partners-9" src="{{'/assets/images/clients/ocean-uprise.png' | relative_url}}" alt="ocean-uprise" class="img-fluid mx-auto">
			</div>
			
		</div>
	</div>
</section>
<!-- Clients End -->
<br>
<br>
<br>


<!-- Call To action Start -->
{% include call_to_action.html %}
<br>
<!-- Call to action End -->

