---
layout: default
header_image: "/assets/images/bg/image.jpg"
title: "Portfolio"
description: ""
---

{% include page_header.html %}
<!-- Portfolio  Start -->
<section class="section portfolio-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10 text-center">
				<span style="font-size: x-large;" class="h5 text-color text-uppercase">
					our works
				</span>
				<h5 class="mb-5 mt-2">A collection of some recently completed projects, covering a wide range of disciplines</h5>
			</div>
		</div>

    <div class="row align-items-center mb-5" >
      	<div class="col-12 text-center">
	        <div class="btn-group btn-group-toggle " data-toggle="buttons">
	          <label class="btn border-0 active">
	            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Projects
	          </label>
	          <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="community" />Community Engagement
	          </label>
	          <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="education" />Quality Education
	          </label>
	          <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="conservation" />Biodiversity Conservation
	          </label>
	           <label class="btn border-0">
	            <input type="radio" name="shuffle-filter" value="youth" />Youth Leadership
	          </label>
	        </div>
      </div>
    </div>		
    <div class="row shuffle-wrapper portfolio-gallery">
      {% include portfolio_loop.html %}
    </div>
	</div>
</section>
<!-- Portfolio  End -->