// Color Variables
$white: #fff;
$black: #000;
$primary-color:#6bc23c; 
$secondary-color:#1f1f40;
$extra-color:#934ae4;
$border-color: #e5e5e5;
$black-light:#000000;
$yello:#403c30;
$social:#403c30;
$blue: #470FA8;
$heading-font:'Poppins', sans-serif;
$body-font:'Open Sans', sans-serif;